In [1894]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [1895]:
test=pd.read_csv(r"C:\Users\hp\Desktop\Data Science\test_QaJU1Mh.csv")

In [1896]:
train=pd.read_csv(r"C:\Users\hp\Desktop\Data Science\train_jRxnrHD.csv")

# Filling Missing Values

In [1897]:
test['application_underwriting_score'].fillna(test['application_underwriting_score'].mean(), inplace=True)
test['Count_3-6_months_late'].fillna(0, inplace=True)
test['Count_6-12_months_late'].fillna(0, inplace=True)
test['Count_more_than_12_months_late'].fillna(0, inplace=True)
#test.isnull().sum()

In [1898]:
train['application_underwriting_score'].fillna(train['application_underwriting_score'].mean(), inplace=True)
train['Count_3-6_months_late'].fillna(0, inplace=True)
train['Count_6-12_months_late'].fillna(0, inplace=True)
train['Count_more_than_12_months_late'].fillna(0, inplace=True)
#train.isnull().sum()

# Outlier Removal

In [1899]:
train.loc[train['age_in_days']>34000,'age_in_days']=np.mean(train['age_in_days'])
#train['age_in_days'].plot.box()

In [1900]:
test.loc[test['age_in_days']>34000,'age_in_days']=np.mean(test['age_in_days'])
#test['age_in_days'].plot.box()

In [1901]:
train['no_of_premiums_paid']=np.sqrt(train['no_of_premiums_paid'])

In [1902]:
test['no_of_premiums_paid']=np.log(test['no_of_premiums_paid'])

In [1903]:
train['premium']=np.power(train['premium'],1/2)

In [1904]:
train['Income']=np.log(train['Income'])

In [1905]:
test['Income']=np.log(test['Income'])

In [1906]:
train['application_underwriting_score']=np.sqrt(train['application_underwriting_score'])

In [1907]:
test['application_underwriting_score']=np.sqrt(test['application_underwriting_score'])

In [1908]:
#train.loc[train['Count_more_than_12_months_late']>8,'Count_more_than_12_months_late']=np.mean(train['Count_more_than_12_months_late'])

#train['Count_more_than_12_months_late'].plot.box()

In [1909]:
#test.loc[test['Count_3-6_months_late']>8,'Count_3-6_months_late']=np.mean(test['Count_3-6_months_late'])
#test['Count_3-6_months_late'].plot.box()

In [1910]:
#train.loc[train['premium']>20000,'premium']=np.mean(train['premium'])

In [1911]:
#test.loc[test['application_underwriting_score']<98.20,'application_underwriting_score']=np.mean(test['application_underwriting_score'])

In [1912]:
#train.loc[train['application_underwriting_score']<98.20,'application_underwriting_score']=np.mean(train['application_underwriting_score'])

In [1913]:
#test.loc[test['Income']>1,'Income']=np.mean(test['Income'])

In [1914]:
#train.loc[train['Income']>0.4,'Income']=np.mean(train['Income'])

# Linear Regression model

In [1915]:
#making train data set

train_set=train[0:55899]

In [1916]:
#making test data set

test_set=train[55900:]

In [1917]:
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,target
0,110936,0.429,12058.0,12.780042,0.0,0.0,0.0,9.950879,3.605551,C,Urban,57.445626,1
1,41492,0.010,21546.0,12.660804,0.0,0.0,0.0,9.994498,4.582576,A,Urban,134.164079,1
2,31300,0.917,17531.0,11.340237,2.0,3.0,1.0,9.934284,2.645751,C,Rural,57.445626,0
3,19415,0.049,15341.0,12.431254,0.0,0.0,0.0,9.978477,3.000000,A,Urban,97.979590,1
4,99379,0.052,31400.0,12.199451,0.0,0.0,0.0,9.993498,3.464102,B,Urban,97.979590,1

# Dropping train set data

In [1918]:
#train_set=train_set.drop('perc_premium_paid_by_cash_credit',axis=1)
#train_set=train_set.drop('sourcing_channel',axis=1)
train_set=train_set.drop('target',axis=1)
train_set=train_set.drop('id',axis=1)
#train_set=train_set.drop('no_of_premiums_paid',axis=1)
train_set=train_set.drop('Count_3-6_months_late',axis=1)
train_set=train_set.drop('Count_6-12_months_late',axis=1)
train_set=train_set.drop('Count_more_than_12_months_late',axis=1)

# Dropping test set data

In [1919]:
#test_set=test_set.drop('perc_premium_paid_by_cash_credit',axis=1)
#test_set=test_set.drop('sourcing_channel',axis=1)
test_set=test_set.drop('target',axis=1)
test_set=test_set.drop('id',axis=1)
#test_set=test_set.drop('no_of_premiums_paid',axis=1)
test_set=test_set.drop('Count_3-6_months_late',axis=1)
test_set=test_set.drop('Count_6-12_months_late',axis=1)
test_set=test_set.drop('Count_more_than_12_months_late',axis=1)

In [1920]:
x_train=train_set.drop('premium',axis=1)

In [1921]:
y_train=train_set['premium']

In [1922]:
x_test=test_set.drop('premium',axis=1)

In [1923]:
true_p=test_set['premium']

# Implementing Linear Regression to find premium

In [1924]:
from sklearn.linear_model import LinearRegression

In [1925]:
lreg=LinearRegression()

In [1926]:
x_train=pd.get_dummies(x_train)

In [1927]:
x_test=pd.get_dummies(x_test)

In [1928]:
lreg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [1929]:
pred=lreg.predict(x_test)

# Performance of lreg model

In [1930]:
lreg.score(x_test,true_p)

0.477725240069047

In [1931]:
lreg.score(x_train,y_train)

0.4874595381704447

In [1932]:
rmse_test=np.sqrt(np.mean(np.power((np.array(true_p)-np.array(pred)),2)))

In [1933]:
rmse_train=np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lreg.predict(x_train))),2)))

In [1934]:
print(rmse_test)
print(rmse_train)

28.79140638416354
28.620185366840573

In [1935]:
x_train.shape

(55899, 12)

# Prediction on actual Test Data

In [1936]:
test_run=test.copy()

In [1937]:
#test_run=test_run.drop('perc_premium_paid_by_cash_credit', axis=1)
#test_run=test_run.drop('sourcing_channel', axis=1)
test_run=test_run.drop('id', axis=1)
#test_run=test_run.drop('no_of_premiums_paid',axis=1)
test_run=test_run.drop('Count_3-6_months_late',axis=1)
test_run=test_run.drop('Count_6-12_months_late',axis=1)
test_run=test_run.drop('Count_more_than_12_months_late',axis=1)

In [1938]:
test_run=pd.get_dummies(test_run)

In [1939]:
prediction=lreg.predict(test_run)

In [1940]:
test['premium']=prediction

In [1941]:
test['premium']=np.power(test['premium'],1/3)

In [1942]:
#test['premium']=np.power(test['premium'],1/2)

In [1943]:
#test.loc[test['premium']>10300,'premium']=np.mean(test['premium'])

In [1944]:
#test.loc[test['premium']<7300,'premium']=np.mean(test['premium'])

# Logistic Regression Model

In [1945]:
#making train data set

train1_set=train[0:47911]

In [1946]:
#making test data set

test1_set=train[47912:]

In [1947]:
train.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,target
0,110936,0.429,12058.0,12.780042,0.0,0.0,0.0,9.950879,3.605551,C,Urban,57.445626,1
1,41492,0.010,21546.0,12.660804,0.0,0.0,0.0,9.994498,4.582576,A,Urban,134.164079,1
2,31300,0.917,17531.0,11.340237,2.0,3.0,1.0,9.934284,2.645751,C,Rural,57.445626,0
3,19415,0.049,15341.0,12.431254,0.0,0.0,0.0,9.978477,3.000000,A,Urban,97.979590,1
4,99379,0.052,31400.0,12.199451,0.0,0.0,0.0,9.993498,3.464102,B,Urban,97.979590,1

# Dropping train set data

In [1948]:
train1_set=train1_set.drop('id',axis=1)
train1_set=train1_set.drop('sourcing_channel',axis=1)
#train1_set=train1_set.drop('perc_premium_paid_by_cash_credit',axis=1)
#train1_set=train1_set.drop('application_underwriting_score',axis=1)

# Dropping test set data

In [1949]:
test1_set=test1_set.drop('id',axis=1)
test1_set=test1_set.drop('sourcing_channel',axis=1)
#test1_set=test1_set.drop('perc_premium_paid_by_cash_credit',axis=1)
#test1_set=test1_set.drop('application_underwriting_score',axis=1)

In [1950]:
xx_train=train1_set.drop('target',axis=1)

In [1951]:
yy_train=train1_set['target']

In [1952]:
xx_test=test1_set.drop('target',axis=1)

In [1953]:
true_p1=test1_set['target']

In [1954]:
xx_train=pd.get_dummies(xx_train)

In [1955]:
xx_test=pd.get_dummies(xx_test)

# Implementation of Logistic Regression to find target

In [1956]:
from sklearn.linear_model import LogisticRegression

In [1957]:
logreg= LogisticRegression()

In [1958]:
#Resolving future warning
logreg = LogisticRegression(solver='lbfgs')

In [1959]:
#logreg = LogisticRegression(class_weight = 'balanced')

In [1960]:
logreg.fit(xx_train, yy_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [1961]:
pred1=logreg.predict(xx_test)

In [1962]:
print(pred1)

[1 1 1 ... 1 1 1]

# Performance of logreg model

In [1963]:
logreg.score(xx_train, yy_train)

0.9387405814948551

In [1964]:
logreg.score(xx_test, true_p1)

0.940609248301556

# Prediction on actual test

In [1965]:
test_run1=test.copy()

In [1966]:
#test_run1=test_run1.drop('application_underwriting_score', axis=1)
test_run1=test_run1.drop('id', axis=1)
test_run1=test_run1.drop('sourcing_channel', axis=1)
#test_run1=test_run1.drop('perc_premium_paid_by_cash_credit',axis=1)

In [1967]:
test_run1=pd.get_dummies(test_run1)

In [1968]:
prediction1=logreg.predict(test_run1)

In [1969]:
prediction1

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

# Creating Submission file

In [1970]:
sub=pd.read_csv(r"C:\Users\hp\Desktop\Data Science\my_subs.csv")

In [1971]:
sub=sub.drop('target', axis=1)

In [1972]:
sub['target']=prediction1

In [1973]:
df = pd.DataFrame(sub)

In [1974]:
# saving the dataframe 
df.to_csv(r'C:\Users\hp\Desktop\Data Science\my_subs.csv', index=False)

In [1975]:
sub.head()

      id  target
0    649       1
1  81136       1
2  70762       1
3  53935       1
4  15476       1